In [2]:
from util import *

In [3]:
# Exercise 1
f = x**3-5/2*x**(3/2)+2*x-3

newton(f, 1.1)

                     x              error
0                  1.1                NaN
1     2.48672383314645  1.386723833146450
2     1.97112084195128  0.515602991195172
3     1.77064548747808  0.200475354473199
4     1.73911409759910  0.031531389878975
5     1.73837206147628  0.000742036122821
6     1.73837165620369  0.000000405272593
7     1.73837165620357  0.000000000000121
root  1.73837165620357  0.000000000000000

In [4]:
# Exercise 2
f = exp(-x)*(3.2*sin(x)-0.5*cos(x))

bisection(f, 3, 4, n=10, t=1e-3)

      x (exact)                 x              error
0             3                 3                NaN
1             4                 4                NaN
2           7/2  3.50000000000000  0.500000000000000
3          13/4  3.25000000000000  0.250000000000000
4          27/8  3.37500000000000  0.125000000000000
5         53/16  3.31250000000000  0.062500000000000
6        105/32  3.28125000000000  0.031250000000000
7        211/64  3.29687500000000  0.015625000000000
8       421/128  3.28906250000000  0.007812500000000
9       843/256  3.29296875000000  0.003906250000000
10     1687/512  3.29492187500000  0.001953125000000
11    3375/1024  3.29589843750000  0.000976562500000
root        NaN  3.29658939551373  0.000000000000000

In [5]:
# Exercise 3
f = x**2-6

secant(f, 2, 3)

                     x              error
0                    2                NaN
1                    3                NaN
2     2.40000000000000  0.600000000000000
3     2.44444444444444  0.044444444444444
4     2.44954128440367  0.005096839959225
5     2.44948968964799  0.000051594755679
6     2.44948974278262  0.000000053134629
7     2.44948974278318  0.000000000000559
root  2.44948974278318  0.000000000000000