In [1]:
from numan.methods import *

In [2]:
bisection(x**3-3, 1, 2, t=0.1)
# Answer: x=1.4375

     x (exact)                 x              error
0            1                 1
1            2                 2
2          3/2  1.50000000000000  0.500000000000000
3          5/4  1.25000000000000  0.250000000000000
4         11/8  1.37500000000000  0.125000000000000
5        23/16  1.43750000000000  0.062500000000000
root            1.44224957030741  0.000000000000000

In [3]:
bisection(exp(x)-x**2, -2, 0, t=1e-15, n=15)
# Answer: k>=28, x≈-0.7035

         x (exact)                   x              error
0               -2                  -2
1                0                   0
2               -1   -1.00000000000000  1.000000000000000
3             -1/2  -0.500000000000000  0.500000000000000
4             -3/4  -0.750000000000000  0.250000000000000
5             -5/8  -0.625000000000000  0.125000000000000
6           -11/16  -0.687500000000000  0.062500000000000
7           -23/32  -0.718750000000000  0.031250000000000
8           -45/64  -0.703125000000000  0.015625000000000
9          -91/128  -0.710937500000000  0.007812500000000
10        -181/256  -0.707031250000000  0.003906250000000
11        -361/512  -0.705078125000000  0.001953125000000
12       -721/1024  -0.704101562500000  0.000976562500000
13      -1441/2048  -0.703613281250000  0.000488281250000
14      -2881/4096  -0.703369140625000  0.000244140625000
15      -5763/8192  -0.703491210937500  0.000122070312500
16    -11525/16384  -0.703430175781250  0.000061035156250
root                -0.703467422498392  0.000000000000000

In [4]:
newton(x**3-5/(2*x**(3/2))+2*x-3, 1.1)
# Answer: x2~=1.288, x3~=1.288, x4~=1.288

                     x          error (%)
0                  1.1
1     1.29056152738538  0.190561527385378
2     1.28772923724771  0.002832290137666
3     1.28772749798688  0.000001739260837
4     1.28772749798622  0.000000000000651
root  1.28772749798622  0.000000000000000

In [5]:
newton(cos(x)+2*sin(x)+x**2, 0, t=1e-3)
# Answer: x≈-0.6592

                       x          error (%)
0                      0
1     -0.500000000000000  0.500000000000000
2     -0.636669982871907  0.136669982871907
3     -0.658606341152314  0.021936358280408
4     -0.659265441566532  0.000659100414218
root  -0.659266045766946  0.000000000000000

In [6]:
newton(exp(-x)*cos(x), 1.3)
# Answer: x≈1.5708

                     x          error (%)
0                  1.3
1     1.51729199019495  0.217291990194947
2     1.56812505356329  0.050833063368338
3     1.57078921642485  0.002664162861567
4     1.57079632674434  0.000007110319487
5     1.57079632679490  0.000000000050557
root  1.57079632679490  0.000000000000000

In [7]:
newton(x**2-2, 1, exact=True, n=3)

     x (exact)                 x          error (%)
0            1                 1
1          3/2  1.50000000000000  0.500000000000000
2        17/12  1.41666666666667  0.083333333333333
3      577/408  1.41421568627451  0.002450980392157
root            1.41421356237310  0.000000000000000

In [8]:
secant(cos(x)+2*sin(x)+x**2, 0, -0.1, t=1e-4)
# Answer: x≈-0.6592

                       x          error (%)
0                      0
1                   -0.1
2     -0.513709182245311  0.413709182245311
3     -0.609961481945027  0.096252299699716
4     -0.651797094645731  0.041835612700704
5     -0.658798769946493  0.007001675300762
6     -0.659261254085192  0.000462484138699
7     -0.659266042654047  0.000004788568856
root  -0.659266045766946  0.000000000000000

In [9]:
A = Matrix([[1, 3, -2], [5, -2, 1], [7, -13, 8]]) # det(A) = 0
B = Matrix([[1, 3, -2], [5, -2, 1], [7, -13, 0]]) # det(B) = 136
b1 = Matrix([-1, 0, 3]) # Ax = b1 has infinitely many solutions
b2 = Matrix([-1, 0, 4]) # Ax = b2 has no solutions
b3 = Matrix([-1, 0, -13]) # Bx = b3 has one solution

In [10]:
x3 = B.inv()*b3
x3

Matrix([
[0],
[1],
[2]])