In [1]:
from util import *

In [5]:
# Question 4
secant(x**2-5, 2, 3, n=3, exact=True)

     x (exact)                 x           error (%)
0            2                 2
1            3                 3
2         11/5  2.20000000000000  36.363636363636400
3        29/13  2.23076923076923   1.379310344827590
4       161/72  2.23611111111111   0.238891543239369
root            2.23606797749979   0.000000000000000

In [3]:
# Question 5
newton(x**3-2*x-5, 2, n=3, exact=True)

                        x (exact)                 x          error (%)
0                               2                 2
1                           21/10  2.10000000000000  4.761904761904760
2                      11761/5615  2.09456812110419  0.259331689482187
3     4138744325037/1975957316495  2.09455148169820  0.000794413798434
root                               2.09455148154233  0.000000000000000

In [4]:
# Bonus
_, fs = interpolation('1 1.3 1.6 1.9 2.2', '0.7651977 0.6200860 0.4554022 0.2818186 0.1103623')

In [5]:
fs

887*x**4/486000 + 268723*x**3/4860000 - 1111471*x**2/3240000 + 7133639*x/97200000 + 1187948093/1215000000